<p>
  <b>{{editField.label}}:</b>
</p>

{{#if typeIsSelect}}
  {{#power-select
    options=editField.options
    onchange=(action (mut editField.value))
    selected=editField.value
    as |option|
  }}
    {{option}}
  {{/power-select}}

{{else if typeIsNumberOrText}}
  {{input type='text' value=editField.value}}

{{else if typeIsPickADate}}

  {{pick-a-date
    date=(readonly editField.date) 
    on-selected=(action (mut editField.date)) 
    placeholder="Pick a date" 
    options=(readonly editField.extraPickadateOptions)
  }}

{{else if typeIsConstant}}
  {{editField.value}}

{{else if typeIsSiteInputValue}}
  {{siteInputValue}}
{{/if}}
