<h2>Emitter Specifications</h2>

<table roomDetails>

  <tr>
    <th>
      Room Number
    </th>
    <th>
      Room Name
    </th>
    <th>
      Emitter type
    </th>
    <th>
      Design room temperature (°C)
    </th>
    <th>
      Design heat loss (W)
    </th>
    <th>
      Radiator Surface Finish Factor F1
    </th>
    <th>
      Radiator Enclosure Factor F2
    </th>
    <th>
      n-coefficient (radiators only)
    </th>
    <th>
      Convector Temperature Factor (FTEMP)
    </th>
    <th>
      Radiator Temperature Factor (FTEMP)
    </th>
  </tr>

  {{#each rooms as |room index|}}

    <tr>

      <td>
        {{index}}
      </td>

      {{#each room.fields as |field|}}

        {{#if field.emiterSpec}}
          <td>
            {{field.value}}
          </td>
        {{/if}}

      {{/each}}

      <td>
        {{input value=room.radSurfFinFactor}}
      </td>
      <td>
        {{input value=room.radEncFactor}}
      </td>
      <td>
        {{input value=room.nCoefficient}}
      </td>
      <td>
        {{input value=room.convTempFactor}}
      </td>
      <td>
        {{input value=room.radTempFactor}}
      </td>

    </tr>

  {{/each}}

  <tr>
    <td>
      Total Heat Loss:
    </td>
    <td>
      {{totalHeatLoss}}
    </td>
  </tr>

  <tr>
    <td>
      Total Rad/Conv. contribution to DHL (W)
    </td>
    <td>
      {{totalContrToDHL}}
    </td>
  </tr>
  <tr>

    <td>
      Intermittency Factor
    </td>
    <td>
      {{intermittencyFactor}}
    </td>
  </tr>

</table>




{{yield}}
