<button {{action 'setTab' 'currentInputTab' 'siteInputs'}}>Site Inputs</button>
<button {{action 'setTab' 'currentInputTab' 'roomInputs'}}>Room Inputs</button>

{{#if siteInputsTab}}
  {{site-inputs siteInputsConfig=siteInputsConfig}}
{{else if roomInputTab}}
  {{room-inputs roomInputsConfig=roomInputsConfig rooms=rooms}}
{{/if}}

<hr>

<button {{action 'setTab' 'currentResultsTab' 'certificate'}}>Certificate</button>
<button {{action 'setTab' 'currentResultsTab' 'emitterSpecifications'}}>Emitter Specifications</button>

{{#if certificateTab}}
  {{certificate-component siteInputsConfig=siteInputsConfig roomInputsConfig=roomInputsConfig}}
{{else if emitterSpecTab}}
  {{emiterSpec-component siteInputsConfig=siteInputsConfig roomInputsConfig=roomInputsConfig rooms=rooms}}
{{/if}}

{{yield}}
