<button {{action 'setTab' 'currentInputTab' 'siteInputs'}}>Site Inputs</button>
<button {{action 'setTab' 'currentInputTab' 'roomInputs'}}>Room Inputs</button>

{{#if siteInputsTab}}
  {{site-inputs siteInputsConfig=siteInputsConfig model=model}}
{{else if roomInputTab}}
  {{room-inputs rooms=rooms siteInputsConfig=siteInputsConfig model=model}}
{{/if}}

<hr>

<button {{action 'setTab' 'currentResultsTab' 'certificate'}}>Certificate</button>
<button {{action 'setTab' 'currentResultsTab' 'emitterSpecifications'}}>Emitter Specifications</button>

{{#if certificateTab}}
  {{certificate-component siteInputsConfig=siteInputsConfig rooms=rooms selectedDFT=selectedDFT totalRadConv=totalRadConv}}
{{else if emitterSpecTab}}
  {{emiterSpec-component siteInputsConfig=siteInputsConfig rooms=rooms selectedDFT=selectedDFT totalRadConv=totalRadConv}}
{{/if}}

{{yield}}
