<tr>
    <th>Name of wall, floor, ceiling</th>
    <th>Space on other side</th>
    <th>Height or length (m)</th>
    <th>Width (m)</th>
    <th>Area (m²)</th>
    <th>Construction</th>
    <th>Entered U-_x001E_value (W/m²K), if required</th>
    <th>U-value (W/m²K)</th>
    <th>Design temperature difference</th>
    <th>Heat loss (W)</th>
</tr>

<tr>
  <td>
    {{wall.description.value}}
  </td>
  <td>
    {{wall.spaceType.value}}
  </td>
  <td>
    {{wall.heightOrLength.value}}
  </td>
  <td>
    {{wall.width.value}}
  </td>
  <td>
    {{wall.area}}
  </td>
  <td>
    {{wall.construction.value}}
  </td>
  <td>
    {{wall.U-value.value}}
  </td>
  <td>
    {{wall.uValue}}
  </td>
</tr>

{{yield}}

